body {
	font-family: 'Lucida Sans Unicode', sans-serif;
	font-size: 16;
	max-width: 900px;
	padding-left: 2ch;
	padding-right: 3ch;
	margin: 0 auto;
}

.header {
}

a {
	color: black;
	font-weight: bold;
}

img {
	border: none;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: justify;
}

.preamble {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2em;
}

sup {
	vertical-align: 0.3em;
	font-size: 0.65em;
}

pre {
	font-family: Monospace, Courier;
	font-size: 16;
	background-color: white;
	border: 1px solid Black;
	padding-left: 2ch;
	padding-top: 1ch;
	padding-bottom: 1ch;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h1 {
	font-size: 1.5em;
	margin-top: .5em;
	margin-bottom: .5em;
}

h2 {
	font-size: 1.2em;
	margin-top: .5em;
	margin-bottom: .5em;
}

h3 {
	font-size: 1.0em;
	margin-top: .5em;
	margin-bottom: .5em;
}

h4 {
	font-size: 0.8em;
	margin-top: .5em;
	margin-bottom: .5em;
}

h5 {
	font-size: 0.6em;
	margin-top: .5em;
	margin-bottom: .5em;
}

@media (max-width: 500px) { /* For small screen devices */
	body {
		font-size: 12px;
	}
	pre {
		font-size: 12px;
	}
}

.title {
	text-decoration: none;
}

table, th, td {
    border: 1px solid black;
}

table {
	border-collapse: collapse;
}

th {
	padding: 16px;
	text-align: center;
}

td {
	padding: 16px;
	text-align: center;
}

